@import url("https://fonts.googleapis.com/css?family=Heebo");
body{
  margin: 0;
}
ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color:white;
  font-family:"Heebo", serif;
  font-weight:bold;
  color:black;
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:white;
  text-decoration: line-through;
}

.active {
  background-color:white;
  color:black;
}

body{
  font-family: "Heebo",serif;
  color:black;
}
h2{
  font-family: "Heebo",serif;
  color:black;
  font-size:36px;
  margin-left:15px;
  display: inline-block;
  padding-left: 50px;
  letter-spacing:5px;
}
h3{
  display: inline-block;
  padding-left:20px;
}
a{
  text-decoration:none;
  color:black;
}
a:hover:not(.active){
  text-decoration:line-through;
  color:black;
}
#space{
  display: inline-block;
  padding-right:700px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.center {
    font-size: 36px;
    letter-spacing:5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
  background-color: black;
  text-align:center;
  color:white;
  letter-spacing: 5px;
  border:none;
  font-size:10px;
  bottom:0;
  left:0;
  position: fixed;
  width:100%;
}
h4{
  font-size: 14px;
  letter-spacing: 5px;
  font-weight:lighter;
}

#show {
  display:none;
  width:5000px;
  height:1000px;
}

#news {
  margin-left: 510px;
  margin-right: 300px;
  font-family: "Heebo",serif;
  margin-top:10px;
  text-align:center;
  width:100px;
  font-size:24px;
  z-index:999;
  border-radius:10px;
  color: black;
}

.twitter-timeline {
  max-width: 50% !important;
  margin-left:350px;
  margin-right:350px;
}

#bulletin{
  vertical-align:top;
  font-family: "Heebo", serif;
  text-align:center;
  background-color:white;
  color:black;
  border-radius:10px;
  z-index:999;
  height: 50%;
  font-size: 24px;
}
#chat{
  font-size: 18px;
  color:black;
  margin-top: 0px;
}
#articles{
  text-align:left;
  font-size: 20px;
  letter-spacing: 5px;
}
.articles{
  text-align:left;
  font-size: 20px;
  letter-spacing: 5px;
}
#res{
  font-family: "Heebo",serif;
  margin-top:10px;
  text-align:center;
  width:100px;
  font-size:24px;
  z-index:999;
  border-radius:10px;
  color: black;
}
#footer{
  position:relative;
  height:100px;
}
footer{
  background-color: black;
  text-align:center;
  color:white;
  letter-spacing: 5px;
  border:none;
  font-size:10px;
  bottom:0;
  left:0;
  position:static;
  width:100%;
}
