@import url("https://fonts.googleapis.com/css?family=Syncopate");
@import url("https://fonts.googleapis.com/css?family=Terminal+Dosis");

body {
  font-family:"Termianl Dosis", monospace;
}

#menubar{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    background-color:transparent;
    font-color:black;
    position:left;
    width: 200px;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: black;
    padding: 30px 20px;
    text-decoration: none;
    text-align:center;
}

li a.active {
    background-color: transparent;
    color: #374785;
}

li a:hover:not(.active) {
    background-color: transparent;
    color: #A8D0E6;
}

h1 {
  font-family:"Syncopate", monospace;
  margin-left: 30px;
}

#rem {
  padding-left: 400px;
  padding-top: 50px;
}

ul.a {
    list-style-type: circle;
    width: 300px;
    padding-left: 350px;
}

#quotes {
  padding-right: 200px;
  text-align: right;
}

#per {
  padding-left: 300px;
}
a {
  color: darkblue;
}
a:hover {
  color: blue;
}

#essays {
  padding-left: 300px;
}

#motivation {
  padding-left: 800px;
}

#videos {
  size: 50%;
  padding-left: 800px;
}

#search{
  background: none;
  text-indent: 0px;
  width: 500px;
}
#title{
  padding-right: 500px;
}
